In [347]:
import numpy as np
import pandas as pd

In [348]:
# pull in files from turnstile notebook
metropolitan = pd.read_csv('station_metropolitan.csv')
lorimer = pd.read_csv('station_lorimer.csv')
nassau = pd.read_csv('station_nassau.csv')
bedford = pd.read_csv('station_bedford.csv')
graham = pd.read_csv('station_graham.csv')

# then calculate totals for each
stations = [nassau, lorimer, bedford, metropolitan, graham]

# change station here
data = bedford

In [349]:
data.rename(columns = {'Unnamed: 0':'turnstile'}, inplace = True) 
data.set_index('turnstile',inplace = True)

# replace anomalous 2.5M day on feb 25 with the median of that day for lorimer st
#data['02/25/2016'].replace(max(data['02/25/2016']), np.median(data['02/25/2016']), inplace = True)

In [350]:
dates = list(data.columns)
my_list = []
for date in dates:
    outlier = max(data[date])
    my_list.append(outlier)

In [351]:
anomaly = pd.DataFrame(my_list, index = dates).idxmax() # return the index value (date) which holds the highest value
print 'I think our day with the anomaly might be:', anomaly[0]

I think our day with the anomaly might be: 02/16/2016

In [352]:
print 'Our anomaly value is:',max(data['02/16/2016'])

Our anomaly value is: 17104699

In [353]:
# replace the anomaly value with the median of that day
data['02/16/2016'].replace(max(data['02/16/2016']), np.median(data['02/16/2016']), inplace = True)
data['02/16/2016']

turnstile
R23500-00-00     967
R23500-00-01    2220
R23500-03-00    2838
R23500-03-01    2504
R23500-03-02    2685
R23500-03-03    2963
R23500-03-04     952
R23500-06-00      22
R23500-06-01    2486
R23500-06-02    2904
R23500-06-03    2486
R23500-06-04    2282
R23500-06-05    1767
Name: 02/16/2016, dtype: int64

In [354]:
dates = list(data.columns)
my_list = []

for i in dates:
    totals = data[i].sum()
    my_list.append(totals)

In [355]:
int(np.mean(my_list))

25944

In [356]:
area = [3807, 2547, 25944, 3949, 5660]

my_list2 = []

for i in area:
    my_list2.append(float(i)/np.sum(area)*100)
my_list2
print np.sum(area)

41907

In [359]:
stat = ['nassau', 'lorimer', 'bedford', 'metropolitan', 'graham']
percents = pd.DataFrame(my_list2, index = stat)
percents.rename(columns = {0:'exit %'}, inplace = True)
percents['exit_count'] = area
percents

                 exit %  exit_count
nassau         9.084401        3807
lorimer        6.077744        2547
bedford       61.908512       25944
metropolitan   9.423247        3949
graham        13.506097        5660

In [364]:
25944.0*(1.0-.42)

15047.520000000002

In [361]:
percents['exit_count'].replace(25944, 15047)

nassau           3807
lorimer          2547
bedford         15047
metropolitan     3949
graham           5660
Name: exit_count, dtype: int64

In [362]:
area = [3807, 2547, 15047, 3949, 5660]

my_list2 = []

for i in area:
    my_list2.append(float(i)/np.sum(area)*100)
my_list2
print np.sum(area)

31010